.popup {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.edit-task-button {
    border-radius: 6px;
    border: 2px solid #1C5D99;
    font-size: 1em;
    margin-top: 10px;
}

.edit-task-button:hover {
    cursor: pointer;
}

.delete-task-button {
    border-radius: 6px;
    border: 2px solid #991c1c;
    font-size: 1em;
    margin-top: 10px;
}

.delete-task-button:hover {
    cursor: pointer;
}